    .half-body{
      display: flex; 
     background-image: url('../img/main-bg-img3.jpg');
      width: 100%;
      height: 760px;
      justify-content: center;
      align-items: center;
      
    }
    .intro-main-container{
      width: 95%;
      height: 85%;
      background-color: rgba(51, 128, 111, 0.235);
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
      display: flex;
      justify-content: space-between; 
      align-items:center;
      padding-left: 15px;
      border-radius: 10px;

    }
    .portfolio-user-img{
      width: 45%;
      height: 60%;
      object-fit: cover;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,1);
      animation-name: portfolio-img;
      animation-timeline: view();
    }
        @keyframes portfolio-img {
      0%{
        opacity: 1; 
      }
      75%{
        opacity: 1;
        transform: translateY(0);
      }
      90%{
        opacity: 0.5;
        transform: translateY(100px);
      }
      100%{
        opacity: 0;
        transform: translateY(100px);
      }
    }

    .main-content{
      display: flex;
      background-color: rgb(41, 64, 71);
      height: 60%;
      width: 50%;
      margin: 14px;
      box-shadow: 0 0 10px rgba(0,0,0,0.8);
      border-radius: 7px;
      animation-name: main-content;
      animation-timeline: view();
    
    }
    @keyframes main-content {
      0%{
        opacity: 1; 
      }
      75%{
        opacity: 1;
        transform: translateY(0);
      }
      90%{
        opacity: 0.5;
        transform: translateY(100px);
      }
      100%{
        opacity: 0;
        transform: translateY(100px);
      }
      
      
    }
    .img-intro{
      width: 350px;
      height: 100%;
      object-fit: cover;
      object-position: calc(20% - 10px);
      border-radius: 7px;

    }

    .description{
      font-family: "Alan Sans", sans-serif;
      color: rgb(178, 179, 180);
      text-align: center;

    }
    .intro{
      font-size: 40px;
      text-align: center; 
      font-weight: bold;
      color:rgb(51, 115, 100);
      font-family: "Alan Sans", sans-serif;
      overflow-wrap: break-word;
      word-break: break-word; 

     
    }
    .content-text{
      display: grid;
      width: 100%;
      grid-template-rows: 53px 100px;
      row-gap: 40px;
      padding-left:27px ;
      padding-right: 27px;
      padding-top: 10px;
    }

    
    @media (min-width:1600px) {
    .portfolio-user-img{
    width: 35%;
    height: 65%;
    margin-left: 30px;
    }
    .main-content{
    height: 65%;
    width: 35%;
    margin-right: 30px;
    }
    .intro-main-container{
     justify-content:space-evenly

    }
  }
  @media (max-width:650px) {
    .intro-main-container{
     flex-direction: column;
    }
    .portfolio-user-img{
    margin-right: 35px;
    width: 70%;
    height: 45%;
    margin-left: 30px;
    }
    .main-content{
    height: 45%;
    width: 70%;
    margin-right: 30px;
    }
    .intro{
      font-size: 30px;
    }
    .description{
      font-size: 14px;
    }
    
  }