    .second-main-body{
      background-color:rgb(136, 163, 137) ;
      margin-top: 10px;
      width: 100%;
      height: 760px;
      display: flex;  
      justify-content: center;
      align-content: center;
    }
    .design-github-pic{
      position: relative;
    }
    .hibiscus-leaf{
      position: absolute;
      top: -60px;
      right: -60px;
      width: 25%;
      z-index: 4;
    }
    .oak-leaf-2{
      position: absolute;
      top: -80px;
      left: 30px;
      width: 20%;
      z-index: 0;
    }
    .oak-leaf{
      position: absolute;
      width: 17%;
      bottom: -130px;
      left: 20px;
      z-index: 3;
    }
    .github-container{
     
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: end;
      padding-left: 30px;

    }
    .github-pfp{
      position: relative;
      width: 700px;
      object-fit: cover;
      border-radius: 8px;
      box-shadow: 0 0 30px  rgba(67, 87, 70,1);
      z-index: 1;
    }


    .content-text-2nd{
      display: flex;
      flex: 1;
      flex: 1f 1f;
      row-gap: 40px;
      flex-direction: column;
      align-items: start;
      animation-name: content-text;
      animation-timeline:view();
      transition-duration: 2s;

    }

    .content-skill{
      margin-top: 26px;
      background-color: rgb(63, 80, 65);
      font-weight: 500;
      height: 44%;
      width: 70%;
      border-radius: 8px;
      box-shadow: 0 0 30px  rgba(67, 87, 70,1);

      
    }
     @keyframes content-text{
  0%{   
    opacity: 0;
    transform: translateX(400px);
  }
  20%{
    opacity: 0.5;
    transform: translateX(80px);
  }
  50%{
    opacity: 1;
    transform: translateX (0);
  }
  80%{
    opacity: 0.5;
    transform:translateX(80px) ;
  }
  100%{
    opacity: 0;
    transform: translateX(400px);
  }
 }
    .content-projects{
      background-color: rgb(63, 80, 65);
      height: 44%;
      width: 70%;
      border-radius: 8px;
      box-shadow: 0 0 30px rgba(67, 87, 70,1);
    }

 
 .project-intro-container,.skill-intro-container{
   display: grid;
   justify-content:center ;
   justify-items:center ;
   
 }

  .project-intro,.content-skill{
    font-family: Arial;
    font-weight: bold;
    font-size: 17px;
    color:rgb(236, 222, 182);
   
  } 

  .img-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
  }

  .html-logo,.css-logo,.javascript-logo,.python-logo
  ,.github-logo,.react-logo{
    width: 70px;
    height: 70px;
    object-fit: fill;
    object-position: center;
    border-radius: 8px;
  } 

  .skill-intro{
    font-family: "Roboto Mono", monospace;
  }
  .project-intro{
    font-family: "Roboto Mono", monospace;
  }

@media (min-width: 1600px) {
.github-pfp{
  width: 900px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 30px  rgba(67, 87, 70,1);
  }
.html-logo,.css-logo,.javascript-logo,.python-logo
,.github-logo,.react-logo{
  width: 80px;
  height: 80px;
  object-fit: fill;
  object-position: center;
  border-radius: 8px;
  } 
.img-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 50px;
}
.content-text-2nd{
  align-items: center;
}

}

@media (max-width:600px) {

  .second-main-body{
      margin-top: 10px;
      width: 100%;
      height: 1000px;
      display: flex;  
      flex-direction:column;

    }
      .github-container{
      padding: 0;
      display: flex;
      width: 100%;

    }
      .design-github-pic{
      position: relative;
    }
      .github-pfp{
      position: relative;
      width: 98%;
      object-fit: cover;
      border-radius: 8px;
      box-shadow: 0 0 30px  rgba(67, 87, 70,1);
      z-index: 1;
    }
  .content-text-2nd{
      display: flex;
      row-gap: 40px;
      flex-direction: column;
      align-items: start;

    }
    .html-logo,.css-logo,.javascript-logo,.python-logo
,.github-logo,.react-logo{
  width: 50px;
  height: 50px;
  object-fit: fill;
  object-position: center;
  border-radius: 8px;
  } 
  .skill-intro-container{
    height: 100%;
  }
  .content-skill{
    height: 250px;
    margin: 0px;
  }
  .content-projects{
    height: 250px;
  }

}